# HPC / local model paths (Kelvin2)
HF_HOME=/mnt/scratch2/users/$USER/hf
HF_HUB_CACHE=/mnt/scratch2/users/$USER/hf/hub
MODEL_ROOT=/mnt/scratch2/users/$USER/models
RESULTS_DIR=/mnt/scratch2/users/$USER/results
HF_TOKEN=